@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Lobster&family=Merriweather+Sans:wght@500&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Lobster&family=Merriweather+Sans:wght@500&family=Oswald&family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Lobster&family=Merriweather+Sans:wght@500&family=Oswald&family=Playfair+Display:ital@0;1&family=Prata&family=Source+Code+Pro:wght@500&display=swap');
.history {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .history p{
    margin-top: 60px;
    color : rgb(7, 55, 58);
    font-size: 27px;
    text-align: center;
    font-family: 'Kalnia', serif;
font-family: 'Lobster', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Oswald', sans-serif;
  }
  .history-table {
    width: 100%;
    max-width: 800px; /* Set the maximum width to 500px */
    border-collapse: collapse;
    
  }
  
  .h-container {
    width: 100%;
    max-width: 1000px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(135deg, #c9eaf8, #a4c7e5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10);
    border: 1px solid #9ed0e6;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  
  .history-table th,
  .history-table td {
    max-height: 200px;
    border: 1px solid #d3d1d1;
    padding: 8px;
    text-align: left;
   
  }
  
  .history-table th {
    background-color: #f2f2f2;
  }
  
  .history-table tbody tr:hover {
    background-color: #9a9a9a;
  }
  
  .history-table button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .history-table button:hover {
    background-color: #d32f2f;
  }
  .filter-input {
    padding: 10px; 
    width: 140px; 
    box-sizing: border-box; 
  }